{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@http/(.*)$",
    "^@shared/(.*)$",
    "^@database/(.*)$",
    "^@application/(.*)$",
    "^@adapters/(.*)$",
    "^@domain/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}